body{
    background-color: #000033 !important;
    font-family: 'MedievalSharp', cursive;
}
/**Section IDs**/
#races{
    background-color:#C0C0C0;
    color:white;
    font-family: 'MedievalSharp', cursive;
}

#classes{
    background-color:#C0C0C0;
    font-family: 'MedievalSharp', cursive;
}

#footer{
    background-Color:#000033;
    font-family: 'MedievalSharp', cursive;
    color:#ffffff;
    padding-top:2%;
    padding-bottom:2%;
}

/**Navbar CSS**/

.navbar-brand{
    font-size: 2vw !important;
    background-color: #000033 !important; 
    font-family: 'MedievalSharp', cursive !important; 
    padding-top:10%;
}

.nav-link{
    font-size: 1.5vw !important;
    font-family: 'MedievalSharp', cursive !important; 
}
.navbar-nav > li{
    padding-left: .5vw !important;
    padding-right: .5vw !important;
  }

.navbar-light{
    background-color:#343a40 !important;
  }

.dropdown-item{
    font-size:1.5vw !important;
    font-family: 'MedievalSharp', cursive !important; 
}

.brandLogo{
    height:5vw;
}

.navbar-nav > li > .dropdown-menu { 
    background-color: #000033 !important; 
}

.navbar-nav > li > .dropdown-menu a:hover { 
    background-color: #C0C0C0 !important;
}

/**Scrolling Container CSS **/
.scrollContainer{
    padding:2% 2%;
    margin-left:10%;
    margin-right:10%;
}

/**Table CSS **/
.tableAlign{
    text-align:center;
    height:350px;
}

.firstColumn{
    padding-left:15%;
}

/**Accordion CSS **/
.accordion-item{
    background-color: #000033 !important;
}

.bg-dark{
    color:white !important; 
}

.accordionHead{
    color:#C0C0C0;
    font-size:1.5rem;
    padding-left:2%;
    padding-top:1%;
}
.accordion-body{
    background-color:#C0C0C0 !important;
    font-size:1rem;
    padding-left:2%;
    padding-top:1%;
}
.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }

.accordionText{
    vertical-align: middle;
    border-width:10px;
    border-style:solid !important;
}

.accordionButton{
    text-align:center;
    padding-top:2%;
}

.insideAccordionButton{
    margin-left:2%;
    background-color:#000033 !important;
    color:#ffffff !important;

}

/**Cards**/
.card-header{
    background-color: #000033 !important;
    color:#ffffff !important;
}
.card-body{
    background-color:#C0C0C0 !important;

}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
/**Main Page**/
.informationRow{
    font-size:1.25rem;
    padding-top:2%;
    padding-bottom:2%;
    align-items:center;
    display:inline-block;
    white-space:normal;
    text-align:justify;
}
/**Races Page**/
.raceDescText{
    font-size: 1.25rem;
    color:#ffffff;
}
/**Skills Page**/
.skillKeyWord{
    color:#000033;
    display:inline;
}
.skillsRow{
    font-size:1.25rem;
    padding-top:2%;
    padding-bottom:2%;
}
.h2SkillsStyle{
    text-align:center;
    color:#000033;
}

/**StatsPage**/
.statsRow{
    font-size:1.25rem;
    padding-top:2%;
    padding-bottom:2%;
}

/**Chargen Page**/
.chargenDescript{
    color:#ffffff;
    font-size:1.25rem;
}
.chargenImages{
    width:50%;
    height:50%;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
}
/** Accordion Styles **/
.accordionStyles{
    color:#ffffff;
}

.accordionImages{
    padding-top:2%;
    padding-bottom:2%;
}

/**Footer**/
.footerDesign{
    font-size: 3rem;
    text-align:center;
}
.disclaimer{
    font-size:.75rem;
    padding-top:2%;
    text-align: center;
}
